{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Sex</th>
        <th scope="col">Weight_Sep</th>
        <th scope="col">Weight_Apr</th>
        <th scope="col">BMI_Sep</th>
        <th scope="col">BMI_Apr</th>
    </tr>
    </thead>
    <tbody>
    {% for city in cities %}
    <tr>
        <td><a href="view/{{people.id}}">{{ people.id }}</a></td>
        <td>{{ people.Sex }}</td>
        <td>{{ people.Weight_Sep }}</td>
        <td>{{ people.Weight_Apr }}</td>
        <td>{{ people.BMI_Sep }}</td>
        <td>{{ people.BMI_Apr }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}